@import './variables.scss';

.btn {
  border: none;
  background-color: transparent;
  color: $btn-default-font-color;
  padding: $base-font-size  $base-font-size * 1.5;
  border-top-left-radius: $btn-default-border-radius;
  border-bottom-right-radius: $btn-default-border-radius;
  font-size: $base-font-size;
  &_success {
    background-color: #1fdb84;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  }
  &_large {
    padding: 25px 50px;
    font-size: 40px
  }
}